.profile-card.profile-not-selected {

	.profile-card-image {

		.components-spinner {
			width: 100%;
			height: 100%;
		}
	}

	.profile-card-text {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
